<a href="https://colab.research.google.com/github/Roberto-Parra-R/Master-DS-AI-Devf/blob/M%C3%B3dulo-4-Kata-Data-Wrangling/1Class_Chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = '/content/chipotle.tsv'
chipo_db = pd.read_csv(chipo, sep='\t')

### Step 4. See the first 10 entries

In [25]:
chipo_db.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,[],$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,[],$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), Black Beans,...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), Rice, Cheese, Sour...",$10.98
6,3,1,Side of Chips,[],$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, Fajita Vegetables,...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, Pinto Beans, Che...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, Rice, Black Beans, Pinto ...",$9.25

### Step 5. What is the number of observations in the dataset?

In [16]:
# Solution 1
chipo_db.shape

(4622, 5)

In [17]:
# Solution 2
chipo_db.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [18]:
print(chipo_db.shape[1])

#OR

chipo_db.info()

5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  4622 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 7. Print the name of all the columns.

In [19]:
chipo_db.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [20]:
chipo_db.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [21]:
most_ordered = chipo_db['item_name'].value_counts().idxmax()
most_ordered

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [22]:
chipo_db.loc[chipo_db['item_name'] == (most_ordered), 'quantity'].sum()

761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
for i, l in enumerate(chipo_db['choice_description']):
    print("list",i,"is",type(l))

In [5]:
chipo_db['choice_description'] = chipo_db['choice_description'].fillna('')
def clean_alt_list(list_):
    list_ = list_.replace(', ', '","')
    list_ = list_.replace('[', '')
    list_ = list_.replace(']', '')
    list_ = '["'+ list_ + '"]'
    return list_

chipo_db['choice_description'] = chipo_db['choice_description'].apply(clean_alt_list)
chipo_db.loc[(chipo_db['choice_description'] == '[""]'),'choice_description']=''

In [11]:
chipo_db.loc[(chipo_db['choice_description'] == ''),'choice_description']='[""]'

In [ ]:
chipo_db.head(10)

In [14]:
chipo_db['choice_description'] = chipo_db['choice_description'].apply(eval)

In [ ]:
for i, l in enumerate(chipo_db['choice_description']):
 print('list',i,'is',type(l))

In [9]:
def to_1D(series):
 return pd.Series([x for _list in series for x in _list])

In [58]:
to_1D(chipo_db['choice_description']).value_counts()

Rice                                    2389
Cheese                                  2281
Lettuce                                 1742
Sour Cream                              1711
Black Beans                             1342
                                        1246
Fresh Tomato Salsa                      1046
Guacamole                               1037
Fajita Vegetables                        722
Pinto Beans                              582
Roasted Chili Corn Salsa                 457
Fresh Tomato Salsa (Mild)                351
Tomatillo Red Chili Salsa                325
Fajita Veggies                           302
Roasted Chili Corn Salsa (Medium)        270
Tomatillo-Red Chili Salsa (Hot)          259
Tomatillo Green Chili Salsa              230
Diet Coke                                134
Tomatillo-Green Chili Salsa (Medium)     128
Coke                                     123
Sprite                                    77
Lemonade                                  33
Fresh Tomato (Mild)                       31
Coca Cola                                 26
Nestea                                    20
Dr. Pepper                                18
Mountain Dew                              15
Diet Dr. Pepper                           13
Pineapple Orange Banana                    8
Blackberry                                 8
Peach Orange                               8
Clementine                                 8
Cilantro-Lime Rice                         7
Apple                                      6
Salsa                                      6
White Rice                                 5
Adobo-Marinated and Grilled Chicken        5
Pomegranate Cherry                         5
Adobo-Marinated and Grilled Steak          4
Grapefruit                                 4
Vegetarian Black Beans                     3
Roasted Chili Corn (Medium)                3
Tomatillo Red Chili (Hot)                  3
Braised Barbacoa                           2
Brown Rice                                 2
Tomatillo Green Chili (Medium)             2
Braised Carnitas                           1
dtype: int64

### Step 12. How many items were orderd in total?

In [23]:
chipo_db['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [24]:
chipo_db['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [28]:
chipo_db['item_price'] = chipo_db['item_price'].apply(lambda x: x.replace('$',''))
chipo_db['item_price'] = pd.to_numeric(chipo_db['item_price'])

#### Step 13.c. Check the item price type

In [29]:
chipo_db['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [30]:
chipo_db['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [32]:
chipo_db['order_id'].nunique()

1834

In [33]:
chipo_db['order_id'].max()

1834

### Step 16. What is the average revenue amount per order?

In [56]:
# Solution 1
chipo_by_order = chipo_db.groupby('order_id')['item_price'].agg(sum)
chipo_by_order = chipo_by_order.to_frame().reset_index()
chipo_by_order.rename(columns = {'item_price':'total'}, inplace = True)
order_mean = chipo_by_order['total'].mean()
order_mean

18.81142857142869

### Step 17. How many different items are sold?

In [57]:
chipo_db['item_name'].nunique()

50