<a href="https://colab.research.google.com/github/Roberto-Parra-R/Master-DS-AI-Devf/blob/master/ClaseSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
USE lessons;

CREATE TABLE IF NOT EXISTS 
users (
  email varchar(45), 
  first_name varchar(45), 
  last_name varchar(45), 
  address varchar(45), 
  age int, 
  PRIMARY KEY (email)
);
SHOW TABLES;
DESCRIBE users;

INSERT INTO users VALUES ('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', '27');
INSERT INTO users VALUES ('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39);

# Seleccionamos todos los registros de nuestra tabla
SELECT * FROM users;

# Seleccionamos únicamente un par de columnas pero todas las filas (sin filtro)
SELECT email, first_name FROM users;
SELECT first_name, last_name FROM users;

# ¿Que pasaría si seleccionamos una columna que no existe?
SELECT email, address FROM users;