<a href="https://colab.research.google.com/github/Roberto-Parra-R/Master-DS-AI-Devf/blob/master/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comparison Operations

In [ ]:
a = int(input())
b = 33
if b > a:
   print('b es más grande que a')
elif b==a:
  print('b es exactamente igual a a') 
else:
  print('b no es más grande que a')

In [ ]:
y='你好'
x='世界'
if y > x:
   print('y es más grande que x')
elif y==x:
  print('y es exactamente igual a x') 
else:
  print('y no es más grande que x')

# If

In [ ]:
n = 5
if (type(n) is float):
  print('true')
else:
  print('false')

In [ ]:
name='Charmander'
strenght='100'
print ('Tu nombre es ', name ,', y tu fuerza es', strenght)

# Lists and For loop

In [ ]:
list1=[1,2,3,4,5]
list2=[0,5,8,9,10]
i=0

for item in list1:
  if item in list2:
    i += 1

if i > 0:
  print('Overlapping', i,' time(s).')
else: 
  print('Not Overlapping')

In [ ]:
for lista in range(11):
  print(lista)

# While

In [ ]:
count=1
while count < 1024:
  count *= 2
  print(count)

In [ ]:
semilla=123456789
for num_al in range (100):
  
  n1=semilla**2
  n1=str(n1)

  #print(semilla)
  if len(n1)>4:
    n1=int(n1[:4])
  else:
    n1=int(n1[:-2][1:])
  semilla=n1

In [ ]:
  print(semilla)

# Tarea

In [ ]:
num_in=input()
while True:
  if len(num_in)<8:
    num_in='0'+ num_in
  else: 
    break
print(num_in)

1
00000001